@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background text-on-surface;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
